"*":
  "":
    source:
      ruby:
        editor:
          tabLength: 2
  "atom-material-ui":
    colors:
      abaseColor: "#006998"
      accentColor: "#007c8a"
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      useAnimations: false
  build:
    saveOnBuild: true
    scrollOnError: true
  "build-make": {}
  core:
    customFileTypes:
      "source.cpp": [
        "c"
      ]
    disabledPackages: [
      "minimap"
      "build-rake"
      "emmet"
      "pigments"
      "ide-cpp"
      "atom-ide-ui"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  "dbg-gdb":
    logToConsole: true
  diagrams:
    previewWidth: 1096
  editor:
    invisibles:
      eol: " "
      space: " "
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "ad53d0cb-1c94-4a9a-8bdb-89fd26f356ec"
  "file-icons":
    coloured: false
  "fuzzy-finder":
    preserveLastSearch: true
  "git-diff": {}
  "goto-definition":
    performanceMode: true
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  "linter-cpplint":
    executablePath: "/Users/gbingersoll/Tools/google_styleguide/cpplint/cpplint.py"
    extensions: "c++,cc,cpp,cu,cuh,h,hpp,c"
  "linter-ui-default":
    panelHeight: 396
  minimap:
    displayMinimapOnLeft: true
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#006998"
      zBright:
        brightBlue: "#006998"
    style:
      animationSpeed: 10
      defaultPanelHeight: "400px"
      fontSize: "14"
  "ruby-test":
    specFramework: "rspec"
    unityAllCommand: "cd test;rake test"
    unityFileCommand: "cd test;rake test:{base_name}"
  "sync-settings":
    _lastBackupHash: "09b9171c81cb66f811eb534cf924467781dac4a7"
    gistId: "df85f15e201522b8c4991bef7312e96c"
    personalAccessToken: "6c87836a4c94309a234ae0185acdcad25e183cd0"
  welcome:
    showOnStartup: false
".makefile.source":
  editor:
    tabLength: 8
    tabType: "hard"
